// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

css-specificity-status[data-highlight],
css-specificity-detail {
  .inline { color: @text-color-subtle; }
  .ids { color: @text-color-warning; }
  .classes { color: @text-color-success; }
  .elements { color: @text-color-info; }
}

css-specificity-detail {
  display: block;
  max-height: 80vh;
  overflow: auto;
  -webkit-user-select: none;
  user-select: none;

  .panel-heading {
    margin-bottom: @component-padding;
    padding: 0;
  }

  .panel-body {
    display: flex;
    flex-direction: row;
    text-align: center;
    cursor: default;

    .inline-block {
      flex: 1 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: @component-border-radius;
      padding: @component-padding;
      background-color: @tool-panel-background-color;

      :last-child {
        margin-bottom: 0;
      }
    }

    .count,
    .type {
      color: inherit;
    }

    .count {
      font-size: 2.5em;
      margin-bottom: 0;
      line-height: 1.3;
    }
  }
}
