// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.inline(@prop, @color) {
  .inline { @{prop}: @color; }
}

.ids(@prop, @color) {
  .ids { @{prop}: @color; }
}

.classes(@prop, @color) {
  .classes { @{prop}: @color; }
}

.elements(@prop, @color) {
  .elements { @{prop}: @color; }
}

css-specificity-status[data-highlight],
css-specificity-detail .panel-heading {
    .inline(color, @text-color-error);
    .ids(color, @text-color-warning);
    .classes(color, @text-color-success);
    .elements(color, @text-color-info);
}

css-specificity-detail {
  display: block;
  max-height: 80vh;
  overflow: auto;
  -webkit-user-select: none;
  user-select: none;

  .panel-body {
    display: flex;
    text-align: center;
    color: @text-color-highlight;

    .inline-block {
      flex: 1 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: @component-padding;

      :last-child {
        margin-bottom: 0;
      }
    }

    .inline(background-color, @background-color-error);
    .ids(background-color, @background-color-warning);
    .classes(background-color, @background-color-success);
    .elements(background-color, @background-color-info);
  }
}
